html {
    font-family: "times new roman", arial, serif, sans-serif;
    font-size: 100%;
    color: #fff;
}

img {
    max-height: 100%;
    max-width: 100%;
}

fieldset {
    border-style: none;
}

body {
    background-color: #000;
    background-image: -moz-linear-gradient(#fff 0%, #aaa 15%, #fff 20%, #aaa 35%, #fff 40%, #aaa 55%, #fff 60%, #aaa 75%, #fff 80%, #aaa 95%, #fff 100%);
    background-image: -o-linear-gradient(#fff 0%, #aaa 15%, #fff 20%, #aaa 35%, #fff 40%, #aaa 55%, #fff 60%, #aaa 75%, #fff 80%, #aaa 95%, #fff 100%);
    background-image: -webkit-linear-gradient(#fff 0%, #aaa 15%, #fff 20%, #aaa 35%, #fff 40%, #aaa 55%, #fff 60%, #aaa 75%, #fff 80%, #aaa 95%, #fff 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(15%, #aaa), color-stop(20%, #fff), color-stop(35%, #aaa),
                      color-stop(40%, #fff), color-stop(55%, #aaa), color-stop(60%, #fff), color-stop(75%, #aaa), color-stop(80%, #fff), color-stop(95%, #aaa), color-stop(100%, #fff));
    background-repeat: repeat-y;
    margin: 1% 5%;
    min-width: 93.75%;
    min-height: 100%;
}

section#content {
    margin: auto 0px;
    position: relative;
    background-color: transparent;
    min-width: 90%;
    max-width: 90%;
    padding: 0.25% 2.75%;
    clear: both;
}

a {
    text-align: center;
    text-decoration: none;
    color: inherit;
}

.site-header {
    border-style: solid;
    border-width: medium;
    border-radius: 0.625em;
    border-color: #7789ab;
    background-color: #556789;
    background-image: -moz-linear-gradient(#556789 0%, #334567 15%, #334567 90%, #556789 100%);
    background-image: -o-linear-gradient(#556789 0%, #334567 15%, #334567 90%, #556789 100%);
    background-image: -webkit-linear-gradient(#556789 0%, #334567 15%, #334567 90%, #556789 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #556789),
                      color-stop(15%, #334567), color-stop(90%, #334567), color-stop(100%, #556789));
    margin: 1.5% 0.4% 0.75%;
    display: block;
    padding: 0.25% 0.75%;
    clear: both;
    min-height: 4em;
}

._2col-section {
    border-style: solid;
    border-width: medium;
    border-radius: 0.625em;
    border-color: #7789ab;
    background-color: #334567;
    background-image: -moz-linear-gradient(#556789 0%, #334567 15%, #334567 90%, #556789 100%);
    background-image: -o-linear-gradient(#556789 0%, #334567 15%, #334567 90%, #556789 100%);
    background-image: -webkit-linear-gradient(#556789 0%, #334567 15%, #334567 90%, #556789 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #556789),
                      color-stop(15%, #334567), color-stop(90%, #334567), color-stop(100%, #556789));
    margin: 1% 0.4%;
    min-width: 48%;
    max-width: 48%;
    padding: 0.25% 0.3%;
    min-height: 20.3125em;
    overflow: auto;
    float: left;
}

/* ---- SKELETON CUSTOMIZATION ENDS HERE ----- */

ul {
    overflow: hidden;
    padding: 0 0.3125em;
}

li {
    list-style: none;
    display: inline;
}

h1 {
    text-align: right;
    font-size: 1em;
    color: #fff;
    letter-spacing: 0.125em;
}

h2 {
    text-align: left;
    text-decoration: underline;
    color: #ADE3FF;
}

h3 {
    text-align: right;
    letter-spacing: 0.125em;
}

.float-left {
    width: 100%;
    float: left;
    clear: left;
}

.no-fill {
    float: none;
    border: none;
    display: inline;
    background: none;
    background-color: transparent;
    margin: inherit;
}

li > a, .home-link > a {
    float: left;
    height: 4em;
    width: 4em;
    color: #fff;
    display: inline-block;
    padding: 3% 1% 0% 1%;
    margin: auto 1%;
    border-radius: 9%;
    border-color: #fff;
    border-width: 4%;
    background-color: #9a1010;
    background-image: -moz-linear-gradient(#f4f5f9 0%, #9a1010 10%, #681010 50%, #9a1010 90%, #f4f5f9 100%);
    background-image: -o-linear-gradient(#f4f5f9 0%, #9a1010 10%, #681010 50%, #9a1010 90%, #f4f5f9 100%);
    background-image: -webkit-linear-gradient(#f4f5f9 0%, #9a1010 10%, #681010 50%, #9a1010 90%, #f4f5f9 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4f5f9),
                      color-stop(15%, #9a1010), color-stop(90%, #9a1010), color-stop(100%, #f4f5f9)); 
}

.home-link {
    float: left;
}

ul.discussion > li{
    display: block;
    margin: auto 1%;
}

.normal > li {
    display: block;
}

a.discussion {
    display: block;
    height: 3.125em;
    width: 3.125em;
    color: #fff;
    margin: auto 0.125em;
    padding: 4% 4% 0% 4%;
    border-radius: 9%;
    border-color: #fff;
    border-width: 4%;
    background-color: #9a1010;
    background-image: -moz-linear-gradient(#f4f5f9 0%, #9a1010 10%, #681010 50%, #9a1010 90%, #f4f5f9 100%);
    background-image: -o-linear-gradient(#f4f5f9 0%, #9a1010 10%, #681010 50%, #9a1010 90%, #f4f5f9 100%);
    background-image: -webkit-linear-gradient(#f4f5f9 0%, #9a1010 10%, #681010 50%, #9a1010 90%, #f4f5f9 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4f5f9),
                      color-stop(15%, #9a1010), color-stop(90%, #9a1010), color-stop(100%, #f4f5f9)); 
}

/* Map styling starts here */

div#geo-loc > div {
    width: 90%;
    margin: 0px auto;
}

/* also styles the camera shot image */
div#geo-loc img, img#cam-shot {
    margin: 2.5% auto;
    display: block;
    border-width: medium;
    border-style: solid;
    border-color: #fff;
    border-radius: 0.625em;
}

#alerts span, #compass span, #camera span, #contacts span, .home-link span {
    display: block;
    padding-top: 25%;
}
/* End of map styling */

/* Cloud styling starts here */
#foreground {
    position: fixed;
    display: block;
    left: 0px;
    top: 0px;
    padding: 0px;
    margin: 0px;
}

.fg-image {
    background-image: url("../images/clouds.png");
    width: 8.125em;
    height: 5em;
    padding: 0px;
    margin: 0px;
    z-index: 10;
    position: fixed;
}

#c1 {
    left: 0%;
    top: 0%;
}

#c2 {
    right: 0%;
    top: 0%;
}

#c3 {
    left: 0%;
    bottom: 0%;
}

#c4 {
    right: 0%;
    bottom: 0%;
}

#c5 {
    top: 0%;
    left: 50%;
}

/* End of cloud styling */

/* Compass styling */
#compass-img {
    background-image: url("../images/compass.png");
    width: 11.25em;
    height: 11.25em;
    padding: 0px;
    margin: 0 auto;
    border-radius: 0.625em;
    border-color: #fff;
    border-width: medium;
}

/* End compass styling */


/* Media comments*/
@media screen and (max-device-width: 640px) {
        body {
            margin: 1.5%, 3.125%;
        }
        
        ._2col-section {
            min-width: 97.5%;
            float: none;
        }
        
        #c1, #c2, #c3, #c4, #c5 {
            display: none;
        }
}

textarea {
    min-width: 90%;
    margin: auto 0.625em;
}

.accept {
    min-width: 92%;
    margin: auto 0.625em;
}

fieldset > input {
    display: block;
    min-width: 92%;
    margin: auto 0.625em;
}

#err-section {
    display: none;
    color: #dd0000;
}