body {
    background: #000;
    margin: 1% 5%;
    min-width: 93%;
}

article {
    border-radius: 10px;
    border-color: #999;
    border-width: medium;
    border-style: solid;
    background: #fff;
    min-width: 90%;
    max-width: 90%;
    padding: 0.25% 2.75%;
    min-height: 590px;
}

a {
    text-align: center;
    text-decoration: none;
}

.site-header {
    border-style: solid;
    border-width: medium;
    border-radius: 10px;
    border-color: #000;
    background: #999;
    margin: 1.5% 0.4% 0.75%;
    display: block;
    padding: 0.25% 0.75%;
    clear: both;
}

._2col-section {
    border-style: solid;
    border-width: medium;
    border-radius: 10px;
    border-color: #000;
    background: #999;
    margin: 1% 0.4%;
    min-width: 48%;
    max-width: 48%;
    padding: 0.25% 0.3%;
    float: left;
}

.main-section-div {
    padding: 10px;
}

/* ---- SKELETON CUSTOMIZATION ENDS HERE ----- */

li {
    list-style: none;
}
h2 {
    text-align: left;
    text-decoration: underline;
}

.float-left {
    float: left;
    clear: left;
}
.no-float {
    clear: both;
}

div > a {
    display: block;
    float: left;
    height: 50px;
    width: 50px;
    border-radius: 5px;
    border-color: #fff;
    border-width: 2px;
    color: #fff;
    padding: 5px;
    margin-bottom: 1%;
    background: -moz-linear-gradient(#f4f5f9 0%, #4e5e9e 20%, #4e5e9e 80%, #f4f5f9 100%);
}