html {
    font-family: "times new roman", arial, serif, sans-serif;
    font-size: 13pt;
    color: #fff;
}

body {
    background: #000;
    margin: 1% 5%;
    min-width: 93%;
}

article {
    margin: auto 0px;
    position: relative;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    border-color: #999;
    border-width: medium;
    border-style: solid;
    background-color: #aaa;
    background-image: -moz-linear-gradient(#fff 0%, #aaa 15%, #fff 20%, #aaa 35%, #fff 40%, #aaa 55%, #fff 60%, #aaa 75%, #fff 80%, #aaa 95%, #fff 100%);
    background-image: -o-linear-gradient(#fff 0%, #aaa 15%, #fff 20%, #aaa 35%, #fff 40%, #aaa 55%, #fff 60%, #aaa 75%, #fff 80%, #aaa 95%, #fff 100%);
    background-image: -webkit-linear-gradient(#fff 0%, #aaa 15%, #fff 20%, #aaa 35%, #fff 40%, #aaa 55%, #fff 60%, #aaa 75%, #fff 80%, #aaa 95%, #fff 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(15%, #aaa), color-stop(20%, #fff), color-stop(35%, #aaa),
                      color-stop(40%, #fff), color-stop(55%, #aaa), color-stop(60%, #fff), color-stop(75%, #aaa), color-stop(80%, #fff), color-stop(95%, #aaa), color-stop(100%, #fff));
    min-width: 90%;
    max-width: 90%;
    padding: 0.25% 2.75%;
    /*min-height: 590px;*/
    clear: both;
    /*overflow: auto;*/
}

a {
    text-align: center;
    text-decoration: none;
    color: inherit;
}

.site-header {
    border-style: solid;
    border-width: medium;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    border-color: #7789ab;
    background-color: #556789;
    background-image: -moz-linear-gradient(#556789 0%, #334567 15%, #334567 90%, #556789 100%);
    background-image: -o-linear-gradient(#556789 0%, #334567 15%, #334567 90%, #556789 100%);
    background-image: -webkit-linear-gradient(#556789 0%, #334567 15%, #334567 90%, #556789 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #556789),
                      color-stop(15%, #334567), color-stop(90%, #334567), color-stop(100%, #556789));
    margin: 1.5% 0.4% 0.75%;
    display: block;
    padding: 0.25% 0.75%;
    clear: both;
}

._2col-section {
    border-style: solid;
    border-width: medium;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    border-color: #7789ab;
    background-color: #334567;
    background-image: -moz-linear-gradient(#556789 0%, #334567 15%, #334567 90%, #556789 100%);
    background-image: -o-linear-gradient(#556789 0%, #334567 15%, #334567 90%, #556789 100%);
    background-image: -webkit-linear-gradient(#556789 0%, #334567 15%, #334567 90%, #556789 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #556789),
                      color-stop(15%, #334567), color-stop(90%, #334567), color-stop(100%, #556789));
    margin: 1% 0.4%;
    min-width: 60%;
    padding: 0.25% 0.3%;
    float: left;
    min-height: 325px;
    overflow: auto;
}

.main-section-div {
    padding: 10px;
}

/* ---- SKELETON CUSTOMIZATION ENDS HERE ----- */


li {
    list-style: none;
}

h1 {
    text-align: right;
    font-size: 16pt;
    color: #fff;
    letter-spacing: 2px;
}

h2 {
    text-align: left;
    text-decoration: underline;
    color: #ADE3FF;
}

.float-left {
    float: left;
    clear: left;
}

.no-float {
    clear: both;
}

div > a {
    float: left;
    height: 64px;
    width: 64px;
    color: #fff;
    padding: 3% 1% 0% 1%;
    margin: auto 1%;
    border-radius: 9%;
    -webkit-border-radius: 9%;
    border-color: #fff;
    border-width: 4%;
    background-color: #9a1010;
    background-image: -moz-linear-gradient(#f4f5f9 0%, #9a1010 10%, #681010 50%, #9a1010 90%, #f4f5f9 100%);
    background-image: -o-linear-gradient(#f4f5f9 0%, #9a1010 10%, #681010 50%, #9a1010 90%, #f4f5f9 100%);
    background-image: -webkit-linear-gradient(#f4f5f9 0%, #9a1010 10%, #681010 50%, #9a1010 90%, #f4f5f9 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4f5f9),
                      color-stop(15%, #9a1010), color-stop(90%, #9a1010), color-stop(100%, #f4f5f9)); 
}

ul {
    padding-left: 0px;
}

ul.discussion > li{
    display: inline-block;
    margin: auto 1%;
}

a.discussion {
    display: block;
    height: 50px;
    width: 50px;
    color: #fff;
    margin: auto 1px;
    padding: 9% 4% 0% 4%;
    border-radius: 9%;
    -webkit-border-radius: 9%;
    border-color: #fff;
    border-width: 4%;
    background-color: #9a1010;
    background-image: -moz-linear-gradient(#f4f5f9 0%, #9a1010 10%, #681010 50%, #9a1010 90%, #f4f5f9 100%);
    background-image: -o-linear-gradient(#f4f5f9 0%, #9a1010 10%, #681010 50%, #9a1010 90%, #f4f5f9 100%);
    background-image: -webkit-linear-gradient(#f4f5f9 0%, #9a1010 10%, #681010 50%, #9a1010 90%, #f4f5f9 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4f5f9),
                      color-stop(15%, #9a1010), color-stop(90%, #9a1010), color-stop(100%, #f4f5f9)); 
}

.home-link {
    float: left;
}

/* Map styling starts here */

div#geo-loc > div {
    width: 90%;
    margin: 0px auto;
}

div#geo-loc img {
    margin: 2.5% auto;
    display: block;
    border-width: medium;
    border-style: solid;
    border-color: #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
}

#alerts span {
    display: block;
    padding-top: 25%;
}
/* End of map styling */

/* Cloud styling starts here */
#foreground {
    display: none;
    position: fixed;
    display: block;
    left: 0px;
    top: 0px;
    padding: 0px;
    margin: 0px;
}

.fg-image {
    background-image: url("../images/clouds.png");
    width: 130px;
    height: 80px;
    padding: 0px;
    margin: 0px;
    z-index: 10;
    position: fixed;
}

#c1 {
    display: none;
    left: 0%;
    top: 0%;
}

#c2 {
    display: none;
    right: 0%;
    top: 0%;
}

#c3 {
    display: none;
    left: 0%;
    bottom: 0%;
}

#c4 {
    display: none;
    right: 0%;
    bottom: 0%;
}

#c5 {
    display: none;
    top: 0%;
    left: 50%;
}

/* End of cloud styling */